body {
  font-family: "Azeret Mono";
}
.header {
  position: relative;
  text-align: center;
  color: black;
}
.bakground img {
  height: 100%;
  width: 100%;
}
.top-center img {
  height: 240px;
  width: 240px;
}
.top-center h1 {
  font-size: 3em;
  font-weight: bold;
}
p {
  color: #0000008e;
}
.top-center {
  background: url("images/Hero-bg.png") no-repeat center center;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding: 20px 43px;
  border-color: #fff;
  border-radius: 8px;
  background: black;
}
.faq {
  margin: 200px;
}
.faq-hadding {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-hadding h1 {
  font-size: 50px;
  font-weight: 800;
}
.faq-title {
  color: #272727;
  font-size: 50px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 32px;
}
.faq-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.faq-description {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.faq-items {
  margin: 50px;
}
.faq-content img {
  height: 500px;
}
.faq-batton {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding: 20px 43px;
  border-color: #000000;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}
